footer{
  position: absolute;
	bottom: 0;
  left: 0;
  width:100%;
  height: 20%;
  display: inline;
}

.inner-first-section{
  color: white;
  display: flex;
  justify-content: center;
}

.first-section{
  width: 100%;
  height: 50%;
  background-color: #33466a;
}

.second-section{
  width: 100%;
  height: 50%;
  background-color: #efefef;
}

.email-address-form{
  background-color: transparent;
}
