.first-nav{
  width: 100%;
  text-align: center;
  background-color: #EFEFEF;
}


a{
  text-decoration: none;
}

ul{
  list-style: none;
}

nav li{
  display: inline-block !important;
  text-transform: uppercase;
  color: #727272;
}


.navigation a{
  color: #6d6d6d;
}

.navigation li{
  padding: 0px 10px 0px 10px;
}
