/* standard css rules */
*{
  margin: 0px;
}

body{
  background-color: #fff;
  margin: 0px 90px 0px 90px;
  font-family: 'Arial', serif;
}
/* getting rid of the bullet points */
ul{
  list-style: none;
  text-align: center;
  padding: 10px 0px 10px 0px;
}
/* no more underlink on the links */
a{
  text-decoration: none;
}
